.meme {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    background-color: black;
}

.meme__layout {
    padding: 3vh 3vw;
    box-sizing: border-box;
    width: 100%;
}

.meme__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

@media only screen and (max-width: 1279px) {
    .meme__footer {
        flex-direction: column-reverse;
        height: 15%;
    }
}

.meme__description {
    color: beige;
}

@media only screen and (max-width: 1279px) {
    .meme__description {
        align-self: flex-start;
    }
}

.meme__image {
    max-width: 94vw;
    max-height: 83vh;
    border-radius: 10px;
}


@media only screen and (max-width: 1279px) {
    .meme__image {
        max-height: 70vh;
    }
}

.meme__controller {
    
}